<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Azure Blob Storage Demo</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css" />
    <link rel="stylesheet" href="//unpkg.com/bulma-prefers-dark" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<body>
    <form method="post" action="" enctype="multipart/form-data">
        <div class="container has-text-centered">
            <h1 class="title azure">Azure Blob Storage Demo</h1>
            <h2 class="subtitle">Upload a file and view it below:</h2>
            <div class="file has-name is-boxed is-centered is-medium">
                <label class="file-label">
                    <input type="file" class="file-input" id="file-upload-input" name="file" accept="image/png, image/jpeg, image/gif">
                    <span class="file-cta">
                        <span class="file-icon"><i class="fas fa-upload"></i></span>
                        <span class="file-label">Choose an image...</span>
                    </span>
                    <span class="file-name fa-2x spinner" id="spinner">
                        <i class="fas fa-spinner fa-pulse"></i>
                    </span>
                    <span class="file-name has-text-centered error-display" id="error-display">
                        <i class="fas fa-exclamation-circle has-text-danger"></i>
                        <span class="is-size-6">An error occurred, please try again.</span>
                    </span>
                    <img class="file-name preview" id="uploaded-image">
                </label>
            </div>
        </div>
    </form>
    <script src="~/js/home.js"></script>
</body>
</html>
